.circle {

    width: 100px; 
    height: 100px; 
    background-color: red;
    border-radius: 50px;  
    /* margin-left: 10px; 
    margin-top: 10px;  */
    cursor: pointer; 
    padding-top: 20px; 
    text-align: center; 
}

.c {
    
    background-color: #F39D25; 
}

.bg-container {
    margin: 0; 
width: 100%; 
    background-image: url("img/palmiers.webp");
    background-size: 100%; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

html {
    margin: 0; 
}

.inactive {
    cursor: pointer; 
    pointer-events: none;
}

.score {
    color: white; 
}

.clicked {
  content: ""; 
}